body {
    font-family: 'Titillium Web', sans-serif;
}

.slide_bg {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 700px;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide_bg::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000;
    ;
    opacity: .8;
    z-index: -11;
}




.swiper {
    width: 100%;
    height: 100%;
}


.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}