body {
    font-family: 'Titillium Web', sans-serif;
}

.slide_bg {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 700px;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide_bg::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000;
    ;
    opacity: .8;
    z-index: -11;
}




.swiper {
    width: 100%;
    height: 100%;
}


.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    color: #fff !important;
    font-size: 30px !important;
    background: #EE1A21 !important;
    padding: 10px;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    color: #fff !important;
    font-size: 30px !important;
    background: #EE1A21 !important;
    padding: 10px;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    background: #fff !important;
}

/* ====================Swiper-end============ */
.line-area {
    position: relative;
}

.line {
    position: absolute;
    content: '';
    width: 80px;
    height: 2px;
    background-color: #EE1A21;
    top: 28px;
    left: 200px;
}

.line2 {
    position: absolute;
    content: '';
    width: 200px;
    height: 2px;
    background-color: #EE1A21;
    top: 60px;
    left: 050%;
    right: 50%;
    transform: translate(-50%, -50%);
}

/* ==============Service======== */
.service_back {
    position: relative;
    width: 100%;
    height: 300px;
    background: none;
    background-size: cover;
    background-position: top center;
    z-index: 11;
    cursor: pointer;
}

.service_back::after {

    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: .6;
    z-index: -11;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.service_main {
    position: relative;
    z-index: 10;
    overflow: hidden;


}

.Sevice_over {
    position: absolute;
    content: '';
    top: 0;
    left: 100%;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    transition: .3s all ease;
    -webkit-transition: .3s all ease;
    -moz-transition: .3s all ease;
    -ms-transition: .3s all ease;
    -o-transition: .3s all ease;

}

.service_main:hover {
    overflow: visible;

}

.service_main:hover .Sevice_over {
    left: 0%;
}

.mission {
    position: relative;
}

.mission_top {
    position: absolute;
    content: '';
}

.mission_bottom {
    position: absolute;
    content: '';
    right: 50px;
    bottom: 40px;
}

.line3 {
    position: absolute;
    content: '';
    width: 80px;
    height: 2px;
    background-color: #EE1A21;
    top: 28px;
    right: -90px;

}