body {
    font-family: 'Titillium Web', sans-serif;
}


.commom-hero {
    position: relative;
    background-image: url(../img/hero-common.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 11;
}

.commom-hero::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #402E5D;
    opacity: .7;
    z-index: -11;
}


/* ====================Common=================== */


.slide_bg {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 700px;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide_bg::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    z-index: -11;
}




.swiper {
    width: 100%;
    height: 100%;
}


.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sliderSwiper>.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    color: #fff !important;
    font-size: 30px !important;
    background: #EE1A21 !important;
    padding: 10px;
}

.sliderSwiper>.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    color: #fff !important;
    font-size: 30px !important;
    background: #EE1A21 !important;
    padding: 10px;
}

.sliderSwiper>.swiper-pagination-clickable .swiper-pagination-bullet {
    background: #fff !important;
}

/* ====================Swiper-end============ */
.line-area {
    position: relative;
}

.line {
    position: absolute;
    content: '';
    width: 80px;
    height: 2px;
    background-color: #EE1A21;
    top: 28px;
    left: 200px;
}

.line2 {
    position: absolute;
    content: '';
    width: 200px;
    height: 2px;
    background-color: #EE1A21;
    top: 60px;
    left: 050%;
    right: 50%;
    transform: translate(-50%, -50%);
}

/* ==============Service======== */
.service_back {
    position: relative;
    width: 100%;
    height: 300px;
    background: none;
    background-size: cover;
    background-position: top center;
    z-index: 11;
    cursor: pointer;
}

.service_back::after {

    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: .6;
    z-index: -11;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.service_main {
    position: relative;
    z-index: 10;
    overflow: hidden;


}

.Sevice_over {
    position: absolute;
    content: '';
    top: 0;
    left: 100%;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    transition: .3s all ease;
    -webkit-transition: .3s all ease;
    -moz-transition: .3s all ease;
    -ms-transition: .3s all ease;
    -o-transition: .3s all ease;

}

.service_main:hover {
    overflow: visible;

}

.service_main:hover .Sevice_over {
    left: 0%;
}

.mission {
    position: relative;
}

.mission_top {
    position: absolute;
    content: '';
}

.mission_bottom {
    position: absolute;
    content: '';
    right: 50px;
    bottom: 40px;
}

.line3 {
    position: absolute;
    content: '';
    width: 80px;
    height: 2px;
    background-color: #EE1A21;
    top: 28px;
    right: -90px;

}

.line4 {
    position: absolute;
    content: '';
    width: 80px;
    height: 2px;
    background-color: #EE1A21;
    top: 28px;
    right: -90px;
}

.line5 {
    position: absolute;
    content: '';
    width: 50px;
    height: 2px;
    background-color: #fff;
    top: 20px;
    right: -60px;
}

.line6 {
    position: absolute;
    content: '';
    width: 50px;
    height: 2px;
    background-color: #EE1A21;
    top: 20px;
    right: -60px;
}

.management {
    position: relative;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    cursor: pointer;
}

.management-info {
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    width: 80%;
    margin: 0 auto;
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 8px 10px rgb(0 0 0 / 20%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .5s all ease;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    -ms-transition: .5s all ease;
    -o-transition: .5s all ease;
}


.doctor-card {
    position: relative;
    cursor: pointer;
}

.doctor-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: .5s all ease;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    -ms-transition: .5s all ease;
    -o-transition: .5s all ease;
    scale: 0;
}

.doctor-card:hover .doctor-info {
    scale: 1;
}


/* ===========staff============== */
.staff {
    position: relative;
    background-image: url('../img/medicalstaff.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 11;
}

.staff::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000;

    opacity: .8;
    z-index: -11;
}

.staff_border {
    border-left: 3px dotted #EE1A21;
    border-right: 3px dotted #EE1A21;
}


/* ============review================== */
.review_card {
    background: #fff;
    box-shadow: 0 4px 4px rgb(0 0 0 / 20%);
    padding: 35px;
    cursor: pointer;
    transition: .2s all ease;
    -webkit-transition: .2s all ease;
    -moz-transition: .2s all ease;
    -ms-transition: .2s all ease;
    -o-transition: .2s all ease;
}

.review_card:hover {
    box-shadow: 0 4px 4px rgb(0 0 0 / 30%);
}

.testSwiper {
    padding-top: 20px;
    padding-bottom: 60px;
}

.testSwiper>.swiper-pagination-clickable .swiper-pagination-bullet {
    background: #EE1A21 !important;
}

/* =================management===================== */
.mymanagement {
    padding-top: 20px;
    padding-bottom: 100px;

}

.mymanagement>.swiper-pagination-clickable .swiper-pagination-bullet {
    background: red !important;
}


/* ====================Consultant================ */
.consultantSwiper {
    padding-top: 20px;
    padding-bottom: 60px;
}

.consultantSwiper>.swiper-pagination-clickable .swiper-pagination-bullet {
    background: red !important;
}

/* ====================Subscribe================ */
.subscribe-area {
    position: relative;
    background-image: url('../img/subcribe-back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 11;
}

.subscribe-area::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    z-index: -11;
}

/* =====================Footer================= */
.link-footer {
    border-bottom: 1px solid transparent;
}

.link-footer:hover {
    border-bottom: 1px solid #fff;
}

/* ==========================Doctor-page============== */
.doctor_search {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}